{% extends "master_page.liquid" %}
{% block head %}
    <title> FsTweet - Powered by F# </title>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <img src="assets/images/FsTweetLogo.png" width="400px"/>
        <p class="lead">Communicate with the world in a different way!</p>
        <!-- ... -->
    </div>
{% endblock %}